/* mobile-first */
@media screen and (min-width: 400px) and (max-width: 767px){
    .layoutMain-Contacto{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 30% 30% 30% 50%;
        grid-template-areas:
            "titulo"
            "formulario"
            "telefono"
            "correo"
            "direccion"
            "maps"
    }
}
@media screen and (min-width: 768px) and (max-width: 1023) {
    .layoutMain-Contacto{
        grid-template-columns: 1fr;
        grid-template-rows: 20% 40% 40% 40% 70%;
        grid-template-areas:
            "titulo"
            "formulario"
            "telefono"
            "correo"
            "direccion"
            "maps"
    }
}
@media screen and (min-width: 1024px){
    .layoutMain-Contacto{
        grid-template-columns: 40em 40em;
        grid-template-rows: 6em 10em 10em 10em 10em;
        grid-template-areas: 
        "titulo titulo"
        "formulario formulario"
        "formulario formulario"
        "formulario formulario"
        "maps maps";
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    ;
}
body {
    overflow-x: hidden;
}
main {
    background-color: lightgray;
}
.container-fluid {
    flex-direction: column;
}
.h1Inicio {
    font-size: 3.75rem;
    text-align: center;
}
.h2Inicio {
    font-size: 2.5rem;
    background-color: lightgray;
    text-align: center;
}
.h3Inicio {
    font-size: 1.5rem;
}
#contenidoFormContacto {
    display: flex;
    flex-direction: row;
}

#proxPartidosInicio {
    margin: 2em;
}
#noticiasInicio {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}
#visitanosInicio {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
.layoutFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconSMFooter {
    margin-left: 50px;
}
.articleVisitanosInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    margin-bottom: 1em;
}
.h1Nosotros {
    font-size: 3.75rem;
    text-align: center;
}
.sectionFundacionNosotros {
    margin: 2em;
    border: solid 1px;
}
.h2Nosotros {
    font-size: 2.5rem;
    text-align: center;
}
.sectionHistoriaNosotros {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border: solid 1px;
}
.sectionCarrouselNosotros {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    border: solid 1px;
}
.h1Deportes {
    font-size: 3.75rem;
    text-align: center;
}
.h2Deportes {
    font-size: 2.5rem;
    text-align: center;
    display: block;
}
.sectionHorariosDeportes {
    margin: 2em;
    margin-bottom: 0em;
}
.divHorariosDeportes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1Faq {
    font-size: 3.75rem;
    text-align: center;
}
.h2Faq {
    font-size: 2.5rem;
    text-align: center;
}
.divFaq {
    border: solid 1px;
    margin: 1em;
}
.h1Contacto {
    font-size: 3.75rem;
    text-align: center;
}
.h2Contacto {
    font-size: 2.5rem;
    text-align: center;
}
.divMapsContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionMapsContacto {
    margin: 2em;
    margin-bottom: 0;
}
.formularioContacto {
    border: solid 1px;
    width: 30em;
    padding: 0.5em;
    margin: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.formContacto {
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}
.telefonoContacto {
    border: solid 1px;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}
.correoContacto {
    border: solid 1px;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 5em;
}
.direccionContacto{
    border: solid 1px;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    margin-top: 5em;
}